## File that tells git what to ignore

~
*.blf
*.regtrans-ms
nano.rc
Thumbs.db
pgm.asv
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
Anaconda/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Tracing/
Videos/
